ENVIRONMENT=production

DATABASE_URL=postgresql+asyncpg://postgres:postgres@pgbouncer-salon-test:6432/salon
DB_NAME = "salon"
DB_USER = "postgres"
DB_PASSWORD = "postgres"
DB_HOST = "pgbouncer-salon-test"
DB_PORT = "6432"

ALGORITHM=RS256
PRIVATE_KEY_PATH=secrets/private_key.pem
PUBLIC_KEY_PATH=secrets/public_key.pem
ACCESS_TOKEN_EXPIRE_SECONDS=32400
REFRESH_TOKEN_EXPIRE_SECONDS=604800

WEB_SOCKET_TIMEOUT_SECONDS=60

REDIS_BROKER=redis://redis-salon-test:6379/0
REDIS_BACKEND=redis://redis-salon-test:6379/0
ADMIN_PRIVATE_KEY_PATH=secrets/admin_private_key.pem
ADMIN_PUBLIC_KEY_PATH=secrets/admin_public_key.pem
ADMIN_ALGORITHM=RS256
ADMIN_ACCESS_TOKEN_EXPIRE_SECONDS=3600
SQLADMIN_SESSION_SECRET=change-me-generate-with-secrets.token_hex(32)

ERROR_ALERTS_BOT_TOKEN=number:string-string
ERROR_ALERTS_CHAT_ID=number

LOGIN_MAX_FAILED_ATTEMPTS=10
ATTEMPTS_WINDOW_TTL=600 # 10 minutes
LOGIN_BLOCK_TTL=3600  # 60 minutes
IP_BLOCK_TTL=86400  # 24 hours